.page-title h1,
.slider .block h1{
  color: $white;
  text-shadow: 2px 2px 4px #000;
  font-weight: 400;
}

.slider .block p {
  color: $white;
  text-shadow: 2px 2px 4px #000;
  font-weight: 200;
  font-size: $font_size*1.2;
}

p,
li {

  font-size: $font_size;
  // font-family: $font-secondary;
  color: $text_dark;
  line-height: 30px;
}

video {
  width: 100%;
}

//markdown图片居中
.md__image {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 10px;
  }
}

//按钮样式
.slider .btn-main {
  background-color: rgba(10, 170, 255, 0.8);
}

//logo大小
.navigation a.navbar-brand {
  padding: 0 10px;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
}

//导航栏悬停下拉菜单
@media (min-width: 993px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
    margin-top: 0px;
  }

  .open>.dropdown-menu {
    display: none;
  }

  .navigation .navbar .dropdown-menu {
    border-radius: 4px;
  }

}

.dropdown-menu {
  animation: slideDown .3s;
  font-family: $font_primary;
}

@keyframes slideDown {
  0% {
    top: 0;
    z-index: -2000;
    background-color: transparent;
  }
}

.navigation .navbar .dropdown-menu a {
  text-transform: none;
  font-weight: 400;
  color: #7c7c7c;
  padding: 10px 20px;
  -webkit-transition: color .1s ease, padding .3s ease;
  -moz-transition: color .1s ease, padding .3s ease;
  -ms-transition: color .1s ease, padding .3s ease;
  -o-transition: color .1s ease, padding .3s ease;
  transition: color .1s ease, padding .3s ease;
}

/* Overline From Left */
.hvr-overline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-overline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: $color-primary;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-overline-from-left:hover:before,
.hvr-overline-from-left:active:before {
  right: 0;
}

//顶部导航栏在页面最前端不会被覆盖、阴影效果。
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 10px;
  z-index: 1000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

//按钮圆角
.btn {
  border-radius: 5em;
}

//导航栏子菜单圆角
.dropdown-menu {
  border-radius: 4px;
}

// 调整顶部导航栏大小写、位置
.navigation {
  padding: 9px 0 12px 0;

  .navbar {
    .navbar-nav {

      // margin-right: 40px;
      a {
        font : {
          weight: 400;
          size: 17px;
        }

        &:focus {
          background: transparent;
        }

        text-transform: none;
      }
    }
  }
}

.feature {
  h2 {
    color: $white;
  }

  p {
    color: darken($white, 20.37);
    font-size: 18px;
  }
}

//取消about页不透明度
.about .about-img .img-responsive {
  opacity: 1;
}

//取消蒙版效果
.overly:before,
.page-title:before {
  opacity: 0;
}

//段首缩进
.post-content>p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-indent: 2rem;

  &:has(>img:first-child) {
    text-indent: 0rem;
  }
}

//重设页脚样式
.footer {
  background-image: linear-gradient(to right, rgb(104, 147, 241), rgb(33, 33, 75));

  .footer-menu ul li a {
    display: inline-block;
    color: darken($white, 28.6);

    &:hover {
      color: $white;
    }
  }

  .theme-by {
    a {
      display: inline-block;
      color: darken($white, 28.6);

      &:hover {
        color: $white;
      }
    }
  }
}

//封面图
.slider {
  height: 100vh;
}

.page-title {
  height: 70vh;
}

.slider,
.page-title {
  display: flex;
  align-items: center;
}

.navi-ice.navigation {
  background-color: transparent;
}

//划出封面图之前导航栏的样式
@media (min-width: 993px) {
  .navi-ice {

    &.navigation .navbar .navbar-nav a {
      color: darken($white, 15);
    }

    &.navigation .navbar .navbar-nav a.current,
    &.navigation .navbar .navbar-nav a:hover,
    &.navigation .navbar .current>.dropdown-toggle {
      color: $white;
      font-weight: bold;
    }

    .dropdown-menu {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

//导航栏特效
.navi-milk {
  animation-name: changeBgColor;
  animation-duration: 1s;
}

@media (max-width: 992px) {
  #navigation.collapse.in {
    background-color: $white;
    animation-name: changeBgColor;
    animation-duration: 1s;
  }
}

@keyframes changeBgColor {
  from {
    background-color: transparent;
  }

  to {
    background-color: $white;
  }
}


// .scroll-down-bar i.iconfont {
//   font-size: 2rem;
// font-weight: bold;
// display: inline-block;
// position: relative;
// padding-top: 2rem;
// transform: translateZ(0);
// animation: scroll-down 1.5s infinite;
// }
// 
// .scroll-down-bar {
// text-align: center;
// cursor: pointer;
// }

/* ----------------------------------------------
 * Generated by Animista on 2022-11-4 2:10:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.3s both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.3s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.text-shadow-drop-center {
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.bg-pan-left {
  -webkit-animation: bg-pan-left 30s linear infinite alternate;
  animation: bg-pan-left 30s linear infinite alternate;
}

@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}