//导航栏悬停下拉菜单
@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
    margin-top: 0px;
  }
  .open>.dropdown-menu {
    display: none;
  }
}

//顶部导航栏在页面最前端不会被覆盖、阴影效果。
header {
  min-height: 10px;
  z-index: 3;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

// 调整顶部导航栏大小写、位置
.navigation {
  padding: 9px 0 12px;

  .navbar {
    .navbar-nav {

      // margin-right: 40px;
      a {
        font : {
          weight: 400;
          size: 17px;
        }

        &:focus {
          background: transparent;
        }

        text-transform: none;
      }
    }
  }
}

// body {
//   background-color: rgba(34, 61, 83, 0.637);
// }
.feature {
  h2 {
    color: white;
  }

  p {
    color: darken($white, 20.37);
    font-size: 18px;
  }
}

//取消about页不透明度
.about .about-img .img-responsive {
  opacity: 1;
}

//段首缩进
.post-content>p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-indent: 2rem;

  &:has(>img:first-child) {
    text-indent: 0rem;
  }
}

//重设页脚样式
.footer {
  background: darken($color-primary, 20%);

  &:hover {
    background: darken($color-primary, 25%);
  }

  .footer-menu ul li a {
    display: inline-block;
    color: darken($white, 28.6);

    &:hover {
      color: $white;
    }
  }

  .theme-by {
    a {
      display: inline-block;
      color: darken($white, 28.6);

      &:hover {
        color: $white;
      }
    }
  }
}