<section class="page-title bg-2" bg-img="background-image: url('{{if .Params.bg_image}}{{ .Params.bg_image | relURL }}{{else}}{{ site.Params.backgroundimage  | relURL }}{{end}}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{/*  如果更换背景图片需要调整title位置，在这里调整padding数值  */}}
        <div class="block">
          {{/*  标题字体大小  */}}
          <h1 class="tracking-in-expand"><p style="font-size: 38px"><font style="line-height: 2;"></font>{{ .Title }}</font></p></h1>
          <p style="font-size: 25px">{{ .Params.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
