<section class="page-title bg-3" bg-img="background-image: url('{{if .Params.bg_image}}{{ .Params.bg_image | relURL }}{{else}}{{ site.Params.backgroundimage  | relURL }}{{end}}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{/* 如果更换背景图片需要调整title位置，在这里调整padding数值 */}}
        <div class="block">
          {{/* 标题字体大小和样式判断 */}}
          {{ if .Params.custom_title_style }}
            <h1 class="tracking-in-expand" style="font-size: 38px; font-weight: bold; color: black;">
              {{ .Title }}
            </h1>
          {{ else }}
            <h1 class="tracking-in-expand">
              <p style="font-size: 38px"><font style="line-height: 2;"></font>{{ .Title }}</font></p>
            </h1>
          {{ end }}
          
          <p style="font-size: 25px">{{ .Params.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
