<section class="page-title bg-2" style="background-image: url('{{if .Params.bg_image}}{{ .Params.bg_image | relURL }}{{else}}{{ site.Params.backgroundimage  | relURL }}{{end}}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{/*  如果更换背景图片需要调整title位置，在这里调整padding数值  */}}
        <div class="block" style="padding-bottom: 200px;">
          <h1 class="tracking-in-expand">{{ .Title }}</h1>
          <p>{{ .Params.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
